{% extends "admin/layout/base.html" %}

{% block title %}

Dashboard

{% endblock %}

{% block content %}

<h2 class="text-3xl font-bold mb-6">

Dashboard

</h2>

<div class="grid grid-cols-4 gap-6">

    <div class="bg-white rounded-xl shadow p-6">

        <h3>Total Users</h3>

        <p class="text-4xl font-bold">

            {{ total_users }}

        </p>

    </div>

    <div class="bg-white rounded-xl shadow p-6">

        <h3>Total Vehicles</h3>

        <p class="text-4xl font-bold">

            {{ total_vehicles }}

        </p>

    </div>

    <div class="bg-white rounded-xl shadow p-6">

        <h3>Bookings</h3>

        <p class="text-4xl font-bold">

            {{ total_bookings }}

        </p>

    </div>

    <div class="bg-white rounded-xl shadow p-6">

        <h3>Revenue</h3>

        <p class="text-4xl font-bold">

            Rs. {{ revenue }}

        </p>

    </div>

</div>

{% endblock %}