<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vehicle Owner{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/owner.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="bg-gray-100">

<div class="flex h-screen">

    {% include 'owner/layout/sidebar.html' %}

    <div class="flex-1 flex flex-col">

        {% include 'owner/layout/navbar.html' %}

        <main class="flex-1 overflow-y-auto p-6">

            {% block content %}
            {% endblock %}

        </main>

        {% include 'owner/layout/footer.html' %}

    </div>

</div>

</body>
</html>